[Desktop Entry]
Name=Medium Terminal
Exec=gnome-terminal --window-with-profile=medium
Type=Application
GenericName=Medium Terminal
Comment=Medium Terminal
Keywords=shell;prompt;command;commandline;cmd;
Icon=utilities-terminal
Categories=GNOME;GTK;System;TerminalEmulator;
