[Desktop Entry]
Name=Small Terminal
Exec=gnome-terminal --window-with-profile=vnc
Type=Application
GenericName=Small Terminal
Comment=Small Terminal
Keywords=shell;prompt;command;commandline;cmd;
Icon=utilities-terminal
Categories=GNOME;GTK;System;TerminalEmulator;
